.post-search {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: 0.25rem;
    
  }


  /* .filter-box {
  display: flex;
  justify-content: flex-end;
} */
.filter-bar{
  display        : flex;
  flex-direction : column-reverse;
   flex-wrap: wrap;
}


.post-search{
  margin-left : auto;
 
}


#topics{
  margin-left: 150rem;
 
}

